/* text */
h1, h5 {
  color: white;
  text-align: center;
}

small {
  color: white;
  text-align: center;
}

.small {
  font-size: 11px;
}

/* gradient (pretty too) */
body {
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* box shadow (very pretty) */
.box {
  margin: 0 auto;
  -moz-box-shadow: -5px -5px -5px #67B26F;
  -webkit-box-shadow: -5px -5px -5px #67B26F;
  box-shadow: -5px -5px -5px #67B26F;
  background-color: #2C2F33;
  width: 950px;
  height: 250px;  
}

