/* text */
h1, h5 {
  color: white;
  text-align: center;
}

small {
  color: white;
  text-align: center;
}

.small {
  font-size: 11px;
}
/* box shadow (very pretty) */
.box {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  background-color: #2C2F33;
}
