<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<title>dbot</title>
<link href="/dbot.css" rel="stylesheet">
</head>
<body>
<div class="box">
<h1>dbot</h1>
<h5>Technically the worst <img src="/discord.png" width="351" height="36"> bot</h5>
</div>
</body>
</html>
